
# Ignore data, log and model folder
data
log
model

# Jupyter checkpoints
.ipynb_checkpoints
iteractive_analysis.ipynb

# venv
venv

# idea folder
.idea

# docker folder
docker

# useless files
test_keras.py
LICENSE
README.md
test.py